* {
    font-family: 'SF-Pro-Display', sans-serif;
}

.calculator {
    border-radius: 24px;
    width: 345px;
    background-color: #26343f;
    color: white;
    font-family: sans-serif;
}
.calculator__title {
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    background-color: #1c2a35;
    padding: 1rem 1rem 1.5rem;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;

}
.calculator__title__button {
    background-color: transparent;
    border: none;
    height: 30px;
    padding: 5px;
    border-radius: 8px;
    stroke: #2797ff;
    fill: #2797ff;
    cursor: pointer;
}
.calculator__title__button:hover {
    opacity: .8;
}

.calculator__body {
    padding: 1rem;
    position: relative;
}

.calculator__input {
    background-color: #385368;
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: .5rem 0;
}

.calculator__input__input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.calculator__input__input input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    text-align: right;
    padding: 0.5rem;
    width: 100%;
}

.calculator__input__currency {
    text-align: right;
    font-size: 12px;
}

.calculator__swap {
    background: transparent;
    border: none;
    stroke: white;
    fill: white;
    padding: 0 .5rem;
    cursor: pointer;
}
.calculator__swap:hover {
    opacity: .8;
}

.calculator__amounts {
    display: grid;
    grid-template-columns: 68px 68px 120px 16px;
    column-gap: 0.75rem;
    margin: .5rem 0;
}

.button {
    color: #2797ff;
    background: #385368;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    padding: .25rem .5rem;
    cursor: pointer;
}
.button:hover {
    opacity: .8;
}

.price span:before {
    content: "$";
    margin-left: 2px;
}

.price:disabled {
    opacity: .6;
    cursor: default;
}

.help {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #2797ff;
    cursor: pointer;
}
.help:hover {
    opacity: .8;
}
.help:hover + .help-content{
    display: block;
}

.help-content {
    background-color: white;
    color: black;
    position: absolute;
    padding: 1rem;
    border-radius: 12px;
    width: 280px;
    top: 70px;
    display: none;
}
.help-content:after {
    content: "";
    width: 7px;
    height: 7px;
    transform: rotate(42deg);
    background-color: white;
    position: absolute;
    top: 47px;
    right: 10px;
}

.calculator__durations {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: .5rem;
    margin: .5rem 0;
}
.calculator__durations input {
    display: none;
}
.calculator__durations label {
    text-align: center;
}
.calculator__durations input:checked + .period{
    background: black;
}

.arrow-down {
    display: flex;
    justify-content: center;
    fill: white;
    margin: 1.5rem 0;
}

.calculator__result {
    background: #385368;
    border-radius: 12px;
    padding: 1.5rem;
}
.calculator__result h5 {
    margin: 0;
    text-transform: uppercase;
    color: #2797ff;
}
.calculator__result__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    font-size: 1.25rem;
    font-weight: 600;
}
.calculator__result__input input {
    display: none;
    width: 100%;
    margin-left: 5px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    padding: 0;
}
.calculator__result__input div {
    width: 100%;
    margin-left: 5px;
}
.calculator__result__input button {
    background: transparent;
    border: none;
    fill: #2797ff;
    cursor: pointer;
}
.calculator__result__input button:hover {
    opacity: .8;
}

.algb__income, .calculator__result__percent {
    font-size: 0.85rem;
    color: green;
}
.algb__income {
    color: white;
    margin-right: .5rem;
}

.calculator__footer {
    background-color: #171e24;
    padding: 1.5rem 1rem 1rem;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.calculator__footer__toggle {
    background: transparent;
    border: none;
    color: #2797ff;
    fill: #2797ff;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    cursor: pointer;
    width: fit-content;
}

.calculator__footer__toggle:hover {
    opacity: .8;
}

.calculator__footer__content {
    display: none;
}

.calculator__footer__apr {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

.calculator__footer ul {
    padding: 0 0 0 1rem;
    font-size: 0.75rem;
}

.calculator__footer ul li {
    margin: .5rem 0;
}
.calculator__footer__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2797ff;
    text-decoration: none;
    font-weight: 600;
}
.calculator__footer__link:hover {
    text-decoration: underline;
}
.calculator__footer__link svg {
    margin-left: .5rem;
    fill: #2797ff;
}