* {
    font-family: 'SF-Pro-Display', sans-serif;
}

#currentApr {
    padding: 6px 10px;
    background-color: var(--current-apr-bg);
    color: var(--current-apr-text);
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    text-align: center;
}

.calculator {
    width: 345px;
    background-color: var(--calc-bg);
    color: white;
    font-family: sans-serif;
}
.calculator__title {
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    background-color: #1c2a35;
    padding: 1rem 1rem 1.5rem;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;

}
.calculator__title__button {
    background-color: transparent;
    border: none;
    height: 30px;
    padding: 5px;
    border-radius: 8px;
    stroke: #2797ff;
    fill: #2797ff;
    cursor: pointer;
}
.calculator__title__button:hover {
    opacity: .8;
}

.calculator__body {
    padding: 1rem;
    position: relative;
}

.calculator__input {
    background-color: var(--calc-input);
    color: var(--calc-input-text);
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 1rem 0;
}

.calculator__input__input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.calculator__input__input, .calculator__result__input {
    background-color: var(--calc-input-field-bg);
    padding: 0 12px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.calculator__input__input input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    text-align: right;
    padding: 0.5rem;
    width: 100%;
    font-size: 15px;
}

.calculator__input__currency {
    text-align: right;
    font-size: 14px;
}

.calculator__swap {
    background: transparent;
    border: none;
    stroke: white;
    fill: white;
    cursor: pointer;
    margin-left: 1rem;
}
.calculator__swap:hover {
    opacity: .8;
}

.calculator__amounts {
    display: flex;
    margin: 1rem 0;
}

.button {
    color: var(--button-text);
    background: var(--button-bg);
    border: none;
    border-radius: 8px;
    font-weight: 600;
    padding: .25rem .5rem;
    cursor: pointer;
    margin-right: 8px;
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    display: inline-block;
}
.button:hover {
    opacity: .8;
}
.button:last-of-type {
    margin-right: 0;
}

.price span:before {
    content: "$";
    margin-left: 2px;
}

.price:disabled {
    opacity: .6;
    cursor: default;
}

.calculator__durations {
    display: flex;
    margin: 1rem 0;
}
.calculator__durations input {
    display: none;
}
.calculator__durations label {
    text-align: center;
    user-select: none;  
}
.calculator__durations input:checked + .period{
    background: var(--button-bg--selected);
    color: var(--button-text--selected);
}

.calculator__durations input:disabled + .period{
    opacity: 0.8;
}

.arrow-down {
    display: flex;
    justify-content: center;
    fill: white;
    margin: 1rem 0;
}

.calculator__result {
    background: var(--calc-input);
    border-radius: 8px;
    padding: 1rem;
}
.calculator__result h5 {
    margin: 0;
    text-transform: uppercase;
    color: #2797ff;
}
.calculator__result__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.5rem 12px;
}
.calculator__result__input input {
    display: none;
    width: 100%;
    margin-left: 5px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--calc-input-text);
    padding: 0;
}
.calculator__result__input div {
    width: 100%;
    margin-left: 5px;
}
.calculator__result__input button {
    background: transparent;
    border: none;
    fill: #2797ff;
    cursor: pointer;
}
.calculator__result__input button:hover {
    opacity: .8;
}

.algb__income, .calculator__result__percent {
    font-size: 0.85rem;
    color: var(--profit-text);
}
.algb__income {
    color: var(--calc-input-text);
    margin-right: .5rem;
}

.calculator__footer {
    background-color: #171e24;
    padding: 1.5rem 1rem 1rem;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.calculator__footer__toggle {
    background: transparent;
    border: none;
    color: #2797ff;
    fill: #2797ff;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    cursor: pointer;
    width: fit-content;
}

.calculator__footer__toggle:hover {
    opacity: .8;
}

.calculator__footer__content {
    display: none;
}

.calculator__footer__apr {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

.calculator__footer ul {
    padding: 0 0 0 1rem;
    font-size: 0.75rem;
}

.calculator__footer ul li {
    margin: .5rem 0;
}
.calculator__footer__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2797ff;
    text-decoration: none;
    font-weight: 600;
}
.calculator__footer__link:hover {
    text-decoration: underline;
}
.calculator__footer__link svg {
    margin-left: .5rem;
    fill: #2797ff;
}